.header {
      width: 100%;
      height: 100px;
      display: flex;
      background-color: black;
      margin-bottom: 50px;
      color: aliceblue;
}


.header h1 {
      margin: 0px auto;
      padding-top: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(0, 73, 144);
}

.header img {
      height: 100px;
}